body {
    background: rgb(184, 190, 224);
}

.header {
    color: rgb(162, 100, 219);
}

.second_header {
    color: rgb(86, 102, 102);
}
.text {
    color: rgb(66, 138, 66);
}

.photo {
    height: 230px;
    width: 280px;
}

.main_photo {
    height: 280px;
    width: 250px;
}